* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}


a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 24px;
}

ul {
    height: 60px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 21px;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 12px 40px;
    border-radius: 12px;
    font-size: 18px;
}


/* header section */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 24px 250px 0 250px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}



/* hero section */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 250px;
    width: 100%;
    gap: 82px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.subtext {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

button#button-hero {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
}

img#heroimg {
    width: 50%;
    flex: 1;
}


/* cards section */
.container {
    padding: 0 160px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 50px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info {
    /* flex: 1; */
    max-width: 170px;
}

img#card {
    width: 170px;
    /* height: 170px; */
    margin-bottom: 10px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}



/* phrase section */
.quote {
    background-color: #E5E7EB;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 100px 0;
}

.phrase {
    width: 750px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    width: 700px;
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    padding: 0 30px;
}


/* action section */
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 180px 160px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.box {
    background-color: #3882F6;
    height: 180px;
    border-radius: 10px;
    color: #E5E7EB;
    width: 80%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

button#action {
    background: #3882F6;
    border: 2px solid white;
    color: white;
    font-weight: 900;
}


/* footer section */
.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    font-size: 18px;
}