* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 24px;
}

ul {
    height: 60px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 21px;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 12px 40px;
    border-radius: 12px;
    font-size: 18px;
    min-width: 150px;
}

/* header section */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

/* hero section */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    gap: 3%;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.subtext {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

button#button-hero {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
}

img#heroimg {
    width: 50%;
    flex: 1;
}

/* cards section */
.container {
    padding: 0 160px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 50px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info {
    max-width: 170px;
}

img#card {
    width: 170px;
    margin-bottom: 10px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

/* phrase section */
.quote {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.quote-box {
    background-color: #E5E7EB;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.phrase {
    width: 40%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding-bottom: 24px;
}

.author {
    font-size: 20px;
    font-weight: 900;
    text-align: end;
    width: 40%;
}

/* action section */
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7% 10%;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.box {
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    width: 80%;
    padding: 60px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
}

.texto {
    margin-bottom: 2%;
}

button#action {
    background: #3882F6;
    border: 2px solid white;
    color: white;
    font-weight: 900;
}

/* footer section */
.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    font-size: 18px;
}
