*{
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}

img#heroimg {
    width: 450px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 24px;
}

ul {
    height: 60px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 21px;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    padding: 6px 30px;
    border-radius: 6px;
}

button#button-hero {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
}


/* header section */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
}



/* hero section */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    padding: 0 160px;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 350px;
    margin-bottom: 8px;
}

.subtext {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    margin-bottom: 8px;

}



/* cards section */
.container{
    padding: 0 160px;
}

.subtitle {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 50px;
}

img#card {
    width: 170px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 1100px;
    text-align: center;
    /* padding: 0 160px; */
}



/* phrase section */
.quote {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 180px 0;
}

.phrase {
    width: 750px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    width: 700px;
    font-size: 20px;
    font-weight: 900;
    text-align: right;
}


/* action section */
.action {
    background-color: #3882F6;
    height: 200px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 180px;
    border-radius: 10px;
}

.box {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.text1 {
    font-weight: bold;
    font-size: 24px;
}

.text2 {
    font-size: 18px;
}

button#action {
    background: #3882F6;
    border: 2px solid white;
    color: white;
    font-weight: 900;
}


/* footer section */
.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-size: 12px;
}